:root {
    --my-primary-color: #3498db; 
    --my-secondary-color: #2c3e50;
    --my-accent-color: #e74c3c; 
    --my-text-color: #333;
    --my-background-color: #f4f7f6;
    --my-card-background: #ffffff;
    --my-border-color: #dddddd;


    --bs-primary: var(--my-primary-color);
    --bs-secondary: var(--my-secondary-color);
    --bs-danger: var(--my-accent-color);
    --bs-body-color: var(--my-text-color);
    --bs-body-bg: var(--my-background-color);
    --bs-card-bg: var(--my-card-background);
    --bs-border-color: var(--my-border-color);


    --font-body: 'Arial', sans-serif;
    --font-heading: 'Georgia', serif;

    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 20px;
    --spacing-lg: 40px;
    --spacing-xl: 60px;

    --bs-border-radius: 0.375rem;
}

body {
    margin: 0;
    font-family: var(--font-body);
    color: var(--my-text-color);
    background-color: var(--my-background-color);
    padding-top: 56px;
    word-wrap: break-word;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    color: var(--my-secondary-color);
}


main {
    padding: var(--bs-gutter-x, 0.75rem);
    padding-top: var(--spacing-md);
    padding-bottom: var(--spacing-md);

    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    background: var(--my-card-background);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: var(--bs-border-radius);

    flex-grow: 1;
}

.section {
     padding: var(--spacing-md);
     margin-bottom: var(--spacing-lg);
     background-color: var(--my-card-background);
     border-radius: var(--bs-border-radius);
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
main .section:last-child { margin-bottom: 0; }

.hero-section {
     padding: var(--spacing-lg) var(--spacing-md);
     margin-top: 0 !important;
     margin-bottom: 0 !important;
}

.projects-section .col img.img-fluid {
    height: 200px;
    object-fit: cover;
}

.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}


@media (max-width: 768px) {
     .projects-section .col img.img-fluid {
        height: 150px;
     }
}

@media (max-width: 480px) {
     .projects-section .col img.img-fluid {
        height: 120px;
     }
}
